<!-- Navbar -->
<div class="text-center items-center">

    <section class="nav_bar">
        <div class="max-w-6xl mx-3 md:mx-auto pt-8">
            <nav class="p-6 bg-white rounded-full">
                <!-- Flex container -->
                <div class="flex items-center justify-between">
                    <!-- Logo -->
                    <img class="h-8" src="../../assets/logo.png" alt="" />
                    <!-- Menu Items -->
                    <div class="hidden space-x-8 md:flex">
                        <a href="#" class="hover:text-pink-600">Home</a>
                        <a href="#" class="hover:text-pink-600">About</a>
                        <a href="#" class="hover:text-pink-600">Work Process</a>
                        <a href="#" class="hover:text-pink-600">Testimonials</a>
                        <a href="#" class="hover:text-pink-600">Pricing Tables</a>
                        <a href="#" class="hover:text-pink-600">Blog Entries</a>
                        <a href="#" class="hover:text-pink-600">Contact Us</a>
                    </div>

                    <!-- Hamburger Icon -->
                    <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
                        <span class="hamburger-top"></span>
                        <span class="hamburger-middle"></span>
                        <span class="hamburger-bottom"></span>
                    </button>
                </div>

                <!-- Mobile Menu -->
                <div class="md:hidden">
                    <div id="menu"
                        class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                        <a href="#">Pricing</a>
                        <a href="#">Product</a>
                        <a href="#">About Us</a>
                        <a href="#">Careers</a>
                        <a href="#">Community</a>
                    </div>
                </div>
            </nav>

            <!-- Hero -->
            <div class="flex flex-col text-center text-white mt-20 space-y-10">
                <p class="text-4xl">
                    We provide the best <strong>strategy</strong> <br>
                    to grow up your <strong>business</strong>
                </p>
                <p class="text-base font-light">
                    Softy Pinko is a professional Bootstrap 4.0 theme designed by Template Mo <br> for your company at
                    absolutely
                    free of charge
                </p>
                <div class="pb-96">
                    <a class="px-5 py-3 bg-pink-600 hover:bg-purple-800 duration-300 rounded-full" href="#">DISCOVER
                        MORE</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Cards -->
    <section>
        <div
            class="max-w-6xl flex flex-col space-y-3 mx-3 md:flex-row md:space-y-0 md:space-x-7 md:mx-auto items-center justify-center md:-mt-40 mb-20">

            <!-- Card 1 -->
            <div
                class="max-w-xs flex flex-col text-center items-center px-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <div class="my-8 p-6 rounded-full bg-purple-700">
                    <img src="../../assets/featured-item-01.png" alt="">
                </div>
                <p class="font-normal text-lg">Modern Strategy</p>
                <p class="text-sm text-gray-500 mx-2 pb-20">Customize anything in this template to fit your website
                    needs
                </p>
            </div>

            <!-- Card 2 -->
            <div
                class="max-w-xs flex flex-col text-center items-center px-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <div class="my-8 p-6 rounded-full bg-purple-700">
                    <img src="../../assets/featured-item-01.png" alt="">
                </div>
                <p class="font-normal text-lg">Best Relationship</p>
                <p class="text-sm text-gray-500 mx-2 pb-20">Contact us immediately if you have a question in mind
                </p>
            </div>

            <!-- Card 3 -->
            <div
                class="max-w-xs flex flex-col text-center items-center px-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <div class="my-8 p-6 rounded-full bg-purple-700">
                    <img src="../../assets/featured-item-01.png" alt="">
                </div>
                <p class="font-normal text-lg">Ultimate Marketing</p>
                <p class="text-sm text-gray-500 mx-2 pb-20">You just need to tell your friends about our free templates
                </p>
            </div>
        </div>
    </section>

    <!-- Deals -->
    <section class="max-w-6xl flex flex-col space-y-3 mx-3 md:mx-auto">
        <div class="flex flex-col md:flex-row mx-auto items-center justify-between">
            <div>
                <img src="../../assets/left-image.png" alt="">
            </div>
            <div class="flex flex-col space-y-2 w-1/2">
                <p class="font-normal text-2xl pb-8">
                    Let’s discuss about your project
                </p>
                <p class="font-light text-gray-500">Nullam sit amet purus libero. Etiam ullamcorper nisl ut augue
                    blandit,
                    at finibus leo
                    efficitur. Nam
                    gravida purus non sapien auctor, ut aliquam magna ullamcorper.</p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row mx-auto items-center justify-between">
            <div class="flex flex-col space-y-2 w-1/2">
                <p class="font-normal text-2xl pb-8">
                    We can help you to grow your business
                </p>
                <p class="font-light text-gray-500">NAenean pretium, ipsum et porttitor auctor, metus ipsum iaculis
                    nisi, a
                    bibendum lectus libero vitae
                    urna. Sed id leo eu dolor luctus congue sed eget ipsum. Nunc nec luctus libero. Etiam quis dolor
                    elit.
                </p>
            </div>
            <div>
                <img src="../../assets/right-image.png" alt="">
            </div>
        </div>
    </section>

    <!-- Work Process -->
    <section>
        <div class="max-w-6xl flex flex-col mx-3 mt-20 md:mx-auto text-center">
            <div>
                <p class="text-3xl pb-8">Work Process</p>
                <p class="pb-10">Aenean nec tempor metus. Maecenas ligula dolor, commodo in imperdiet <br> interdum,
                    vehicula ut
                    ex. Donec ante
                    diam.
                </p>
            </div>
            <div class="flex flex-col space-y-6 mx-3 md:mx-auto md:space-y-0 md:flex-row md:space-x-3">
                <div
                    class="flex flex-col items-center bg-white mx-5 p-4 drop-shadow-2xl shadow-purple-900 hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Get Ideas</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>

                <div
                    class="flex flex-col items-center bg-white m-5 p-4 drop-shadow-2xl hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Sketch Up</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>

                <div
                    class="flex flex-col items-center bg-white m-5 p-4 drop-shadow-2xl hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Discuss</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>

                <div
                    class="flex flex-col items-center bg-white m-5 p-4 drop-shadow-2xl hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Revise</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>

                <div
                    class="flex flex-col items-center bg-white m-5 p-4 drop-shadow-2xl hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Approve</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>

                <div
                    class="flex flex-col items-center bg-white m-5 p-4 drop-shadow-2xl hover:-translate-y-4 duration-300 rounded-2xl">
                    <img src="../../assets/work-process-item-01.png" class="h-8 w-8" alt="">
                    <p class="mt-10 pb-2 text-lg font-light">Launch</p>
                    <p class="text-gray-500">Godard pabst prism fam cliche.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- What do they say? -->
    <section>
        <div class="max-w-6xl mt-20 mx-3 pb-20 md:mx-auto">
            <div class="flex flex-col">
                <p class="pb-5 font-light text-3xl">What do they say?</p>
                <p class="text-gray-500 text-base  md:px-60 pb-8">
                    Donec tempus, sem non rutrum imperdiet, lectus orci fringilla nulla, at accumsan elit eros a
                    turpis.
                    Ut
                    sagittis lectus libero.
                </p>
            </div>

            <div
                class="flex flex-col space-y-5 text-center items-center justify-center md:space-y-0 md:flex-row md:space-x-5">
                <div class="max-w-sm py-5 px-6 rounded-2xl drop-shadow-2xl bg-white">
                    <img src="../../assets/testimonial-icon.png" class="mx-auto items-center pb-6"
                        alt="testimonial-icon">
                    <p class="py-6 text-sm text-gray-500">
                        Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas
                        a
                        finibus odio.
                    </p>
                    <div class="flex flex-row space-x-3 text-center items-center">
                        <img src="../../assets/pexels-italo-melo-2379005.jpg" class="h-16 w-12 rounded-full" alt="">
                        <div class="pl-5">
                            <p class="text-lg">Catherine Soft</p>
                            <p class="text-sm text-pink-700">Managing Director</p>
                        </div>

                    </div>
                </div>

                <div class="max-w-sm py-5 px-6 rounded-2xl drop-shadow-2xl bg-white">
                    <img src="../../assets/testimonial-icon.png" class="mx-auto items-center pb-6"
                        alt="testimonial-icon">
                    <p class="py-6 text-sm text-gray-500">
                        Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas
                        a
                        finibus odio.
                    </p>
                    <div class="flex flex-row space-x-3 text-center items-center">
                        <img src="../../assets/pexels-italo-melo-2379005.jpg" class="h-16 w-12 rounded-full" alt="">
                        <div class="pl-5">
                            <p class="text-lg">Catherine Soft</p>
                            <p class="text-sm text-pink-700">Managing Director</p>
                        </div>

                    </div>
                </div>

                <div class="max-w-sm py-5 px-6 rounded-2xl drop-shadow-2xl bg-white">
                    <img src="../../assets/testimonial-icon.png" class="mx-auto items-center pb-6"
                        alt="testimonial-icon">
                    <p class="py-6 text-sm text-gray-500">
                        Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas
                        a
                        finibus odio.
                    </p>
                    <div class="flex flex-row space-x-3 text-center items-center">
                        <img src="../../assets/pexels-italo-melo-2379005.jpg" class="h-16 w-12 rounded-full" alt="">
                        <div class="pl-5">
                            <p class="text-lg">Catherine Soft</p>
                            <p class="text-sm text-pink-700">Managing Director</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- Pricing plan -->
    <section>
        <div class="max-w-xl flex flex-col mx-3 md:mx-auto">
            <p class="pb-5 font-light text-3xl">Pricing Plans</p>
            <p class="text-gray-500 text-base  md:px-12 pb-8">
                Donec vulputate urna sed rutrum venenatis. Cras consequat magna quis arcu elementum, quis congue risus
                volutpat.
            </p>
        </div>
        <div
            class="max-w-6xl flex flex-col space-y-3 mx-3 md:mx-auto md:flex-row md:space-y-0 md:space-x-5 items-center justify-center mb-20">

            <!-- card 1 -->
            <div
                class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <p class="pt-8 text-lg">Stater</p>
                <div class="mx-auto px-32 text-white rounded-3xl bg-purple-700">
                    <p class="text-3xl ">$ 14.50</p>
                    <p class="text-sm pb-3">monthly</p>
                </div>
                <div class="text-gray-500 space-y-3">
                    <p>60 GB space</p>
                    <p>600 GB transfer</p>
                    <p>Pro Design Panel</p>
                    <div class="line-through space-y-3 pb-10">
                        <p>15-minute support</p>
                        <p>Unlimited Emails</p>
                        <p>24/7 Security</p>
                    </div>
                    <a class="px-5 py-3 uppercase text-white bg-pink-600 hover:bg-purple-800 duration-300 rounded-full"
                        href="#">Purchase Now</a>

                </div>
            </div>

            <!-- card 2 -->
            <div
                class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <p class="pt-8 text-lg">Premium</p>
                <div class="mx-auto px-32 text-white rounded-3xl bg-pink-500">
                    <p class="text-3xl ">$ 21.50</p>
                    <p class="text-sm pb-3">monthly</p>
                </div>
                <div class="text-gray-500 space-y-3">
                    <p>60 GB space</p>
                    <p>600 GB transfer</p>
                    <p>Pro Design Panel</p>
                    <p>15-minute support</p>
                    <div class="line-through space-y-3 pb-10">
                        <p>Unlimited Emails</p>
                        <p>24/7 Security</p>
                    </div>
                    <a class="px-5 py-3 uppercase text-white bg-pink-600 hover:bg-purple-800 duration-300 rounded-full"
                        href="#">Purchase Now</a>

                </div>
            </div>

            <!-- card 3 -->
            <div
                class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white rounded-3xl drop-shadow-2xl space-y-3">
                <p class="pt-8 text-lg">Advanced</p>
                <div class="mx-auto px-32 text-white rounded-3xl bg-purple-700">
                    <p class="text-3xl ">$ 42.00</p>
                    <p class="text-sm pb-3">monthly</p>
                </div>
                <div class="text-gray-500 space-y-3">
                    <p>60 GB space</p>
                    <p>600 GB transfer</p>
                    <p>Pro Design Panel</p>
                    <p>15-minute support</p>
                    <p>Unlimited Emails</p>
                    <p class="pb-10">24/7 Security</p>
                    <a class="px-5 py-3 uppercase text-white bg-pink-600 hover:bg-purple-800 duration-300 rounded-full"
                        href="#">Purchase Now</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Entries -->
    <section>
        <div class="max-w-xl flex flex-col mx-3 md:mx-auto">
            <p class="pb-5 font-light text-3xl">Blog Entries</p>
            <p class="text-gray-500 text-base  md:px-12 pb-8">
                Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras
                maximus venenatis molestie.
            </p>
        </div>

        <div
            class="max-w-6xl flex flex-col space-y-3 mx-3 md:mx-auto md:flex-row md:space-y-0 md:space-x-5 items-center justify-center mb-20">


            <div class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white space-y-3">
                <img src="../../assets/blog-item-01.png" alt="">
                <p class="pt-8 text-lg hover:text-pink-500 duration-300 cursor-pointer">Vivamus ac vehicula dui</p>

                <p class="py-6 text-sm text-gray-500">
                    Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in
                    sagittis eros. Aliquam egestas augue.
                </p>

                <a class="px-5 py-3 uppercase text-white bg-purple-800  hover:bg-pink-600 duration-300 rounded-full"
                    href="#">Read More</a>

            </div>

            <div class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white space-y-3">
                <img src="../../assets/blog-item-02.png" alt="">
                <p class="pt-8 text-lg hover:text-pink-500 duration-300 cursor-pointer">Vivamus ac vehicula dui</p>

                <p class="py-6 text-sm text-gray-500">
                    Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in
                    sagittis eros. Aliquam egestas augue.
                </p>

                <a class="px-5 py-3 uppercase text-white bg-purple-800  hover:bg-pink-600 duration-300 rounded-full"
                    href="#">Read More</a>

            </div>

            <div class="max-w-sm flex flex-col text-center items-center px-8 pb-8 bg-white space-y-3">
                <img src="../../assets/blog-item-03.png" alt="">
                <p class="pt-8 text-lg hover:text-pink-500 duration-300 cursor-pointer">Vivamus ac vehicula dui</p>

                <p class="py-6 text-sm text-gray-500">
                    Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in
                    sagittis eros. Aliquam egestas augue.
                </p>

                <a class="px-5 py-3 uppercase text-white bg-purple-800  hover:bg-pink-600 duration-300 rounded-full"
                    href="#">Read More</a>

            </div>
        </div>
    </section>

    <section>
        <div class="bg-gray-200">
            <div class="max-w-xl flex flex-col mx-3 md:mx-auto">
                <p class="pb-5 pt-14 font-light text-3xl">Talk To Us</p>
                <p class="text-gray-500 text-base  md:px-12 pb-8">
                    Maecenas pellentesque ante faucibus lectus vulputate sollicitudin. Cras feugiat hendrerit semper.
                </p>
            </div>

            <div
                class="max-w-6xl flex flex-col space-y-3 mx-3 mb md:mx-auto md:flex-row md:space-y-0 md:space-x-5 items-center text-left mb-20">
                <div class="md:w-1/3">
                    <p class="text-lg">Keep in touch</p>
                    <p class="py-6 text-sm text-gray-500">110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        auctor non lorem</p>
                    <p class="py-6 text-sm text-gray-500">
                        You are NOT allowed to re-distribute Softy Pinko template on any template collection websites.
                        Thank
                        you.
                    </p>
                </div>
                <div class="flex flex-col md:w-2/3">
                    <div class="flex flex-col pb-5 space-y-4 md:space-y-0 md:flex-row md:space-x-4">
                        <input type="text" class="h-12 md:w-1/2 rounded-3xl" placeholder="Full Name">
                        <input type="email" class="h-12 md:w-1/2 rounded-3xl">
                    </div>
                    <div class="pb-5">
                        <input class="textarea rounded-3xl  h-40 w-full " placeholder="Bio">
                    </div>
                    <div class="mx-auto items-center md:items-start pb-6">
                        <a class="px-5 py-3 uppercase text-white text-center w-52 bg-purple-800  hover:bg-pink-600 duration-300 rounded-full"
                            href="#">Send Message</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
